html, body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.game-container {
    /* width: fit-content;
    height: fit-content; */
    position: relative;
    display: block;
    margin: auto;
    /* background-color: #47565A; */
    /* box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22); */
    /* border-radius: 5px; */
  }

  .game-screen {
    /* background-color: rgb(155,185,4); */
    background-color: rgb(155,185,4);
    position: absolute;
    /* top: 135px;
    left: 31px; */
    /* padding: 0.75em 1.05em; */
    top: calc((calc(100vh - 56px)) * 135/600);
    left: calc((calc(100vh - 56px)) * 31/600);
    padding: calc((calc(100vh - 56px)) * 12/600) calc((calc(100vh - 56px)) * 18/600);
    z-index: -2;
  }

  .game-board {
    border: solid 1px rgb(54, 72, 0);
  }

  .game-score {
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: 'Press Start 2P', cursive; */
    /* font-family: 'Chakra Petch', sans-serif; */
    font-family: 'Eight Bit Dragon';
    /* font-size: 10px; */
    font-size: calc((calc(100vh - 56px)) * 10/600);
  }

  .row {
    /* height: calc((calc(100vh - 56px)) * 12/600 + 2px); */
    height: calc((calc(100vh - 56px)) * 12/600);

    display: flex;
    /* height: calc((calc(100vh - 56px)) * 12/600); */
    /* VERSÃO CLARA */
    /* height: 26px; */
  }
  
  .column {
    /* border: 1px solid rgba(97, 131, 138, .1); */
    width: calc((calc(100vh - 56px)) * 12/600);
    height: calc((calc(100vh - 56px)) * 12/600);
    /* width: 12px;
    height: 12px; */
    /* VERSÃO CLARA */
    /* width: 24px;
    height: 24px; */
    /* display: inline-block; */
    display: inline;
  }

  .keypad {
      width: 100%;
      margin: auto;
  }

  .row-buttons {
    width: fit-content;
    display: block;
    margin: auto;
  }

  .arrow {
      width: 80px;
      height: 80px;
      display: inline-block;
      margin: auto;
  }

  .arrow-hidden {
    width: 80px;
    height: 80px;
    display: inline-block;
    margin: auto;
  }

  .bg-nokia {
    position: absolute;
    height: calc(100vh - 56px);
    z-index: -1;
  }

  /* VERSÃO CLARA */
  /* .head, .food {
    position: absolute;
    width: 36px;
  }

  .food {
    transform: translateX(-6px) translateY(-6px);
  }

  .dir-left {
    transform: translateX(-6px) translateY(-6px);
  }

  .dir-right {
    transform: translateX(-6px) translateY(-6px) scaleX(-1);
  }

  .dir-up {
    transform: translateX(-6px) translateY(-9px) rotateZ(90deg) scaleY(-1);
  }

  .dir-down {
    transform: translateX(-6px) translateY(-9px) rotateZ(-90deg);
  } */
