.game-container {
    width: fit-content;
    position: relative;
    display: block;
    margin: auto;
    /* background-color: #47565A; */
    /* box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22); */
    /* border-radius: 5px; */
  }

  .row {
    height: 26px;
  }
  
  .column {
    border: 1px solid rgba(97, 131, 138, .1);
    width: 24px;
    height: 24px;
    display: inline-block;
  }

  .keypad {
      width: 100%;
      margin: auto;
  }

  .row-buttons {
    width: fit-content;
    display: block;
    margin: auto;
  }

  .arrow {
      width: 80px;
      height: 80px;
      display: inline-block;
      margin: auto;
  }

  .arrow-hidden {
    width: 80px;
    height: 80px;
    display: inline-block;
    margin: auto;
  }

  .head, .food {
    position: absolute;
    width: 36px;
  }

  .food {
    transform: translateX(-6px) translateY(-6px);
  }

  .dir-left {
    transform: translateX(-6px) translateY(-6px);
  }

  .dir-right {
    transform: translateX(-6px) translateY(-6px) scaleX(-1);
  }

  .dir-up {
    transform: translateX(-6px) translateY(-9px) rotateZ(90deg) scaleY(-1);
  }

  .dir-down {
    transform: translateX(-6px) translateY(-9px) rotateZ(-90deg);
  }
